
*{
  font-family: 'Arial', sans-serif;
  font-size: calc(10px + 2vmin);
}

h1 {
  font-size: calc(50px + 3vmin);
  margin-bottom: -10px;
}

h3 {
  font-size: calc(4px + 2vmin);
  font-weight: normal;
}

p, summary {
  font-size: 2vmin;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #2b2b2b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-main-content {
  background-color: #2b2b2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: white;
  text-align: center;
  margin: 1%;
}

button {
  background-color: #1f87d1;
}

.button-new-item {
  color: #FFF;
  border: none;
  border-radius: 3px;
  float: right;
}

.search {
  background-color: #FFF;
  margin-right: 10px;
  width: 80%;
  float: left;
}

.quickadd-search {
  background-color: #FFF;
  width: 100%;
  float: center;
  border: none;
}

.filtering-tools {
  width: 90%;
}

table, th, td {
  border: 1px solid #FFF;
  border-collapse: collapse;
}

table {
  margin-bottom: 10px;
}

.item-results-list {
  width: 90%;
  margin-top: 15px;
}

th.large-cell, td.large-cell {
  width:60%;
}

th.small-cell, td.small-cell {
  width:20%;
}

.red {
  background-color: #d15e56;
}

button.fl-center, input.fl-center{
  color: #FFF;
  border: none;
  border-radius: 3px;
  justify-content: center;
  font-size: calc(6px + 1.5vmin);
  float: center;
  margin: 2px;
}

button.fl-right, input.fl-right {
  color: #FFF;
  border: none;
  border-radius: 3px;
  justify-content: center;
  font-size: calc(6px + 1.5vmin);
  float: right;
  margin: 2px;
}

button.fl-left, input.fl-left {
  color: #FFF;
  border: none;
  border-radius: 3px;
  justify-content: center;
  font-size: calc(6px + 1.5vmin);
  float: left;
  margin: 2px;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

dialog.item-dialog {
  width: 40%;
  height: 40%;
  padding: 2%;
}

div.item-dialog {
  display: block;
}

.left-align {
  text-align: left;
}

.item-dialog {
  background-color: #404040;
  color: #FFF;
  justify-content: top;
}

::marker {
  font-size: 1.5vmin;
}

::details-content {
  margin-left: 15px;
}

div.bottom-buttons {
  position: absolute;
  bottom: 5%;
}

table.item-form, tr.item-form {
  width: 100%;
  border-style: hidden;
}

input.item-form {
  float: right;
  width: stretch;
  border-radius: 8px;
  margin-bottom: 20px;
  border: none;
}

label {
  float: left;
}

/*Navbar*/
li.navbar{
  float:left;
}

li a{
  padding:14px 16px;
  display:block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

li a:hover{
  background-color: #000;
}

ul.unavbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #101010;
}

.active{
  background-color: #fff;
  color:#282828;
}