
*{
  font-family: 'Arial', sans-serif;
  font-size: calc(10px + 2vmin);
}

p, summary {
  font-size: 2vmin;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-main-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: white;
  text-align: center;
  margin: 1%;
}

.button-new-item {
  background-color: #1f87d1;
  color: #FFF;
  border: none;
  border-radius: 3px;
  float: right;
}

.search {
  background-color: #FFF;
  margin-right: 10px;
  width: 80%;
  float: left;
}

.filtering-tools {
  width: 90%;
}

table, th, td {
  border: 1px solid #FFF;
  border-collapse: collapse;
}

.item-results-list {
  width: 90%;
  margin-top: 15px;
}

th.large-cell, td.large-cell {
  width:60%;
}

th.small-cell, td.small-cell {
  width:20%;
}

button.fl-center, input.fl-center{
  background-color: #1f87d1;
  color: #FFF;
  border: none;
  border-radius: 3px;
  justify-content: center;
  font-size: calc(6px + 1.5vmin);
  float: center;
  margin: 2px;
}

button.fl-right, input.fl-right {
  background-color: #1f87d1;
  color: #FFF;
  border: none;
  border-radius: 3px;
  justify-content: center;
  font-size: calc(6px + 1.5vmin);
  float: right;
  margin: 2px;
}

button.fl-left, input.fl-left {
  background-color: #1f87d1;
  color: #FFF;
  border: none;
  border-radius: 3px;
  justify-content: center;
  font-size: calc(6px + 1.5vmin);
  float: left;
  margin: 2px;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

dialog.item-dialog {
  width: 40%;
  height: 25%;
  padding: 2%;
}

div.item-dialog {
  display: block;
}

.left-align {
  text-align: left;
}

.item-dialog {
  background-color: #484c44;
  color: #FFF;
  justify-content: top;
}

::marker {
  font-size: 1.5vmin;
}

::details-content {
  margin-left: 15px;
}

div.bottom-buttons {
  position: absolute;
  bottom: 5%;
}

table.item-form, tr.item-form {
  width: 100%;
  border-style: hidden;
}

input.item-form {
  float: right;
  width: 40%;
  border-radius: 8px;
  border: none;
}

label {
  float: left;
}
